@charset "UTF-8";

@font-face {
    font-family: 'WooridaumB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/WooridaumB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}



*{margin: 0px; padding: 0px; font-family: "WooridaumB"}
a{text-decoration: none; color: black; }
a:hover{color: red;}

.item .title{font-size: 15px;}
.item .content{font-size: 11px; margin-bottom: 50px; }
.item .price1{text-decoration: line-through; color: gray; font-size: 11px;}
.item .price2{font-size: 15px;}
#find{margin: 100px; padding: 50px;}

.header_topmenu li{
	margin-left: 15px;
}